{% extends "paginas/base.html" %}

{% block titulo %} Vehículos vendidos {% endblock %}

{% block contenido %}

<div class="card">
  
    <div class="card-body">
        <h4 class="card-title">Vehículos vendidos</h4>

        <table class="table table-striped">
            <thead>

            
                <tr>
                    <th>ID</th>
                    <th>Modelo</th>
                    <th>Imagen</th>
                    <th>Rut Cliente</th>
                    <th>Rut Vendedor</th>
                    <th>Fecha Venta</th>
                    <th>Valor</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for auto in autos %}
                <tr>
                    <td>{{auto.id}}</td>
                    <td>{{auto.modelo}}</td>
                    <td>
                        <img src="{{auto.imagen.url}}" alt="" width="100px" />

                    </td>
                    <td>{{auto.categoria}}</td>
                    <td>{{auto.marca}}</td>
                    <td>{{auto.fabricacion}}</td>
                    <td>{{auto.valor}}</td>
                    <td>
                        <a name="" id="" href="{% url 'editar' auto.id %}" role="button" class="btn btn-dark">Registrar</a>
                        <a name="" id="" href="{% url 'editar' auto.id %}" role="button" class="btn btn-warning">Editar</a>
                        <a name= "" id="" href="{% url 'eliminar' auto.id %}" role= "button" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        
    </div>
    <div class="card-footer text-muted">
        
    </div>
</div>

{% endblock %}