{% extends "paginas/base.html" %}
{% block titulo %} Inicio {% endblock %}
{% block contenido %}

<div class="p-5 mb-4 rounded-3">
    <div class="container-fluid py-5 d-grid gap-2">
      <h1 class="display-5 fw-bold text-center">Bienvenidos al menú de fine cars. </h1>
 
      <a class="btn btn-secondary btn-lg" type="button" href="{% url 'libros' %}">Visualizar los vehículos disponibles</a>
      <a class="btn btn-secondary btn-lg" type="button" href="{% url 'libros' %}">Agregar vehículo</a>
      <a class="btn btn-secondary btn-lg" type="button" href="{% url 'libros' %}">Ventas</a>
      <a class="btn btn-secondary btn-lg" type="button" href="{% url 'libros' %}">Calcular la comisión del mes a pagar</a>
    </div>
  </div>

{% endblock %}